@if index($btn-types, info) {
  /* == info == */
  .btn--info {
    background-color: #4e75ff;

    &:active {
      background-color: darken(#4e75ff, 0.1);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(#4e75ff, 0.1);
      }
    }
    &[disabled] {
      background-color: #b5b5be;
      cursor: not-allowed;
    }
  }
} @else {
  @error "Invalid type";
}
