@if index($btn-types, success) {
  /* == success == */
  .btn--success {
    background-color: #82c43c;

    &:active {
      background-color: darken(#82c43c, 0.1);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten(#82c43c, 0.1);
      }
    }
    &[disabled] {
      background-color: #b5b5be;
      cursor: not-allowed;
    }
  }
} @else {
  @error "Invalid type";
}
